*.log
*.txt
build/tmp/
build/temp/
build/buildstats/
build/sstate-cache/
build/cache/
build/downloads/
build/pseudodone
build/bitbake.lock
build/conf/local.conf
build/conf/bblayers.conf
build/conf/templateconf.cfg

downloads/
sstate-cache/

*.swp
*~
*.pyc
__pycache__/

.vscode/
.idea/
.DS_Store
.project
.settings/